<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
       Лучшая итальянская пиццерия
      </div>
      <div class="order-text-message">
        Мы первая пиццерия с настоящей Итальянской дровяной печью. Наша пицца уникальна не только способом выпекания на открытом огне, но и неповторимым вкусом. Тесто мягкое и сочное, натуральная начинка из качественных ингредиентов.
        Наша цель кормить людей натуральным продуктом, без заменителей! Поэтому мы не экономим на продуктах и используем в рецепте наших пицц такие ингредиенты как: оливковое масло холодного отжима прямиком из Греции с оливковой плантации нашего личного производителя, качественная Итальянская мука, Итальянские томаты для фирменного соуса, натуральную Моцареллу из коровьего молока, топинги от лучших производителей и всегда свежие овощи и зелень.
        Для растопки печи используем только березовые дрова, они дают идеальную температуру для приготовления нашей пиццы и готовится всего за 90 секунд.
        Мы открыты для всех!
        Печемся о Вас!
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizza">
      <img src="assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>
<app-popup [data]="'main component'"></app-popup>
